/* Eric background color: 333333*/
/* Random color: 383434 */
/* Discord bacground color: 36393f*/


@font-face {
    font-family:"Uni Sans";
    /* free font source: https://www.freebestfonts.com/uni-sans-font */
    src: url("fonts/Uni Sans/ttf/Uni Sans Bold.ttf") format("truetype"), url("fonts/otf/Uni Sans Bold.otf") format("opentype");
    font-weight: bolder;
}
@font-face {
    font-family:"Uni Sans";
    /* free font source: https://www.freebestfonts.com/uni-sans-font */
    src: url("fonts/Uni Sans/ttf/Uni Sans SemiBold.ttf") format("truetype"), url("fonts/otf/Uni Sans SemiBold.otf") format("opentype");
    font-weight: bold;
}
@font-face {
    font-family:"Uni Sans";
    /* free font source: https://www.freebestfonts.com/uni-sans-font */
    src: url("fonts/Uni Sans/ttf/Uni Sans Regular.ttf") format("truetype"), url("fonts/otf/Uni Sans Regular.otf") format("opentype");
    font-weight: normal;
}
@font-face {
    font-family:"Uni Sans";
    /* free font source: https://www.freebestfonts.com/uni-sans-font */
    src: url("fonts/Uni Sans/ttf/Uni Sans Thin.ttf") format("truetype"), url("fonts/otf/Uni Sans Thin.otf") format("opentype");
    font-weight: lighter;
}

@font-face {
    font-family:"Helvetica";
    src: url("fonts/Helvetica/ttf/Helvetica-Bold.ttf") format("truetype");
    font-weight:bold;
}
@font-face {
    font-family:"Helvetica";
    src: url("fonts/Helvetica/ttf/Helvetica.ttf") format("truetype");
    font-weight:normal;
}
@font-face {
    font-family:"Helvetica";
    src: url("fonts/Helvetica/ttf/Helvetica-Light.ttf") format("truetype");
    font-weight:lighter;
}

* {
    box-sizing: border-box;
    
    font-family: "Helvetica", Arial, sans-serif;
}

body {
    margin:0;
    background-color: #333333;
}

.nav {
    width: 100%;
    display: flex;
    background-color: #333333;
    height:60px;
    justify-content: space-between;
    align-items:center;
    padding: 20px 36px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 1;
}

.nav-items {
    list-style:none;
    display:flex;
}

.nav-item-text{
    padding:10px;
    color:rgb(189, 189, 189);
    margin:10px;
    border-radius: 7px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
}

.nav-item-text:hover {
    /*background-color: #42464c;*/
    color: rgb(255, 255, 255);
    cursor:pointer;
}

.banner {
    width: 100%;
    height: 100vh;
    
    background-size: cover;
    background-position:center;
}

.landing_text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    
}

.landing_text h1 {
    font-size: 3.5em;
}

.landing_list {
    width: 40%;
    align-items: center;
    margin:auto;
}

.landing_text li{
    font-size: 1.3em;
    text-align: left;
    padding-top:10px;
}

.landing-buttons {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-button {
    color: #333333;
    width: max-content;
    align-items: center;
    margin: 0px 5px;
    padding:0px;
}

.landing-button-text {
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    color: #333333;
    text-decoration: none;
    font-size: 1.3em;
}

.landing-button-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

#projects-anchor {
    padding-top: 50px;
}

.project-container h1{
    font-size: 3em;
    width: 100%;
    text-align: center;
    color:white;
}

.entire-card {
    background-color: #404040;
    min-width: 700px;
    border-radius: 5px; /* 5px rounded corners */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color: white;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.project {
    display:flex;
}
  
/* On mouse-over, add a deeper shadow */

.card-image {
    flex: 1;
    height: 200px;
}

.card-image img {
    border-radius: 5px;
    height: 100%;
}
  
/* Add some padding inside the card container */
.card-text {

    padding: 2px 16px;
    width: 100%;
}

.card-text h2 {
    margin-top: 0;
}

.card-text p{
    margin:0;
}

.card-tools-used {
    margin-right: 20px;
    margin-left: 20px;
}

.card-button {
    background-color: white;
    color:#333333;
    width: max-content;
    border-radius: 10px;
    padding: 4px 6px;
    margin-bottom: 7px;
}

.card-button:hover {
    cursor:pointer;
}

.card-button a{
    color:#333333;
    text-decoration: none;
}

.card-button a:hover{
    text-decoration: underline;
}

footer {
    color:white;
    height:30px;
    margin:auto;
    display:flex;
    align-items: center;
    justify-content:center;
}