/* Eric background color: 333333*/
/* Random color: 383434 */
/* Discord bacground color: 36393f*/


@font-face {
    font-family:"Uni Sans";
    /* free font source: https://www.freebestfonts.com/uni-sans-font */
    src: url("fonts/Uni Sans/ttf/Uni Sans Bold.ttf") format("truetype"), url("fonts/otf/Uni Sans Bold.otf") format("opentype");
    font-weight: bolder;
}
@font-face {
    font-family:"Uni Sans";
    /* free font source: https://www.freebestfonts.com/uni-sans-font */
    src: url("fonts/Uni Sans/ttf/Uni Sans SemiBold.ttf") format("truetype"), url("fonts/otf/Uni Sans SemiBold.otf") format("opentype");
    font-weight: bold;
}
@font-face {
    font-family:"Uni Sans";
    /* free font source: https://www.freebestfonts.com/uni-sans-font */
    src: url("fonts/Uni Sans/ttf/Uni Sans Regular.ttf") format("truetype"), url("fonts/otf/Uni Sans Regular.otf") format("opentype");
    font-weight: normal;
}
@font-face {
    font-family:"Uni Sans";
    /* free font source: https://www.freebestfonts.com/uni-sans-font */
    src: url("fonts/Uni Sans/ttf/Uni Sans Thin.ttf") format("truetype"), url("fonts/otf/Uni Sans Thin.otf") format("opentype");
    font-weight: lighter;
}


@font-face {
    font-family:"Helvetica";
    src: url("fonts/Helvetica/ttf/Helvetica-Bold.ttf") format("truetype");
    font-weight:bold;
}
@font-face {
    font-family:"Helvetica";
    src: url("fonts/Helvetica/ttf/Helvetica.ttf") format("truetype");
    font-weight:normal;
}
@font-face {
    font-family:"Helvetica";
    src: url("fonts/Helvetica/ttf/Helvetica-Light.ttf") format("truetype");
    font-weight:lighter;
}


@font-face {
    font-family:"Nunito";
    src: url("fonts/Nunito/ttf/Nunito-Bold.ttf") format("truetype");
    font-weight:bold;
}
@font-face {
    font-family:"Nunito";
    src: url("fonts/Nunito/ttf/Nunito-Regular.ttf") format("truetype");
    font-weight:normal;
}
@font-face {
    font-family:"Nunito";
    src: url("fonts/Nunito/ttf/Nunito-Light.ttf") format("truetype");
    font-weight:lighter;
}

@font-face {
    font-family:"Avenir Next";
    src: url("fonts/Avenir Next/ttf/AvenirNextLTPro-Bold.ttf") format("truetype");
    font-weight:bold;
}
@font-face {
    font-family:"Avenir Next";
    src: url("fonts/Avenir Next/ttf/AvenirNextLTPro-Regular.ttf") format("truetype");
    font-weight:normal;
}

@font-face {
    font-family:"Cera Pro";
    src: url("fonts/Cera Pro/ttf/Cera Pro Bold.ttf") format("truetype");
    font-weight:bold;
}
@font-face {
    font-family:"Cera Pro";
    src: url("fonts/Cera Pro/ttf/Cera Pro Medium.ttf") format("truetype");
    font-weight:normal;
}
@font-face {
    font-family:"Cera Pro";
    src: url("fonts/Cera Pro/ttf/Cera Pro Light.ttf") format("truetype");
    font-weight:lighter;
}

@font-face {
    font-family:"Helvetica Now";
    src: url("fonts/Helvetica Now/otf/HelveticaNowText-Bold.otf") format("opentype");
    font-weight:bold;
}
@font-face {
    font-family:"Helvetica Now";
    src: url("fonts/Helvetica Now/ttf/HelveticaNowText-Medium.otf") format("opentype");
    font-weight:normal;
}
@font-face {
    font-family:"Helvetica Now";
    src: url("fonts/Helvetica Now/ttf/Cera Pro Light.otf") format("opentype");
    font-weight:lighter;
}

* {
    box-sizing: border-box;
}

body {
    margin:0;
    background-color: #141414;
    font-family: "Avenir Next", Arial, sans-serif;
}

.name-icon {
    text-decoration: none;
    color: #141414;
}

.nav {
    width: 100%;
    display: flex;
    background-color: #FFF0D9;
    height:60px;
    justify-content: space-between;
    align-items:center;
    padding: 20px 36px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 1;
    margin-top: 0px;
}

.nav-items {
    list-style:none;
    display:flex;
    margin-left: auto;
    margin-right: 0;
}

.nav-item-text{
    padding:10px;
    /*color:rgb(189, 189, 189);*/
    color:rgb(142, 142, 142);
    margin:10px;
    border-radius: 7px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
}

.nav-item-text:hover {
    /*background-color: #42464c;*/
    color: black;
    cursor:pointer;
}

.banner {
    width: 100%;
    height: 100vh;
    
    background-size: cover;
    background-position:center;
}

.banner-container {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #FFF0D9;
}

.banner-container h1 {
    font-size: 3.5em;
}

#quote {
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0;
    padding-bottom: 0;
}

.landing_list {
    width: 28%;
    align-items: center;
    margin:auto;
}

.banner-container li{
    font-size: 1.3em;
    text-align: left;
    padding-top:10px;
}

.landing-buttons {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.landing-button {
    color: #FFF0D9;
    width: max-content;
    align-items: center;
    margin: 0px 5px;
    padding:0px;
}

.landing-button-text {
    padding: 10px;
    border-radius: 15px;
    background-color: #FFF0D9;
    color: #141414;
    text-decoration: none;
    font-size: 1.3em;
}

.landing-button-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

#arrow-section-container {
    width: 100%;
    height: 80%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #FFF0D9;
    display: flex;
    justify-content: center;
}

#arrow-section {

    position: absolute;
    bottom: 0px;
}

#arrow-section p {
    color: #FFF0D9;
    font-size: 1.3em;
}

#arrow-section a span {
    margin-top: -20px;
    position: absolute;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}
@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}


#row-projects-anchor {
    background-color: #141414;
    padding-top: 25px;
    margin:0;
}

#row-projects-anchor-2 {
    padding-top: 25px;
    background-color: #FFF0D9;
    margin:0;
}

.row-project-container {
    background-color: #FFF0D9;
    padding-bottom: 20px;
}

.subtitle{
    font-size: 3em;
    text-align: center;
    color: #141414;
}

.row-entire-card {
    /*background-color: #404040;*/
    background-color: #fff4e3;
    min-width: 700px;
    width: 80%;
    border-radius: 5px; /* 5px rounded corners */
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right:auto;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color: #141414;
}

.row-project {
    display:flex;
}
  
/* On mouse-over, add a deeper shadow */

.row-card-image {
    flex: 1;
    height: 200px;
}

.row-card-image img {
    border-radius: 5px;
    height: 100%;
}
  
/* Add some padding inside the card container */
.row-card-text {
    padding: 2px 16px;
    width: 100%;
}

.row-card-text-title {
    margin-top: 0;
}

.row-card-text-description {
    margin: 10px 0 0 0;
}

.row-card-tools-used {
    margin-right: 20px;
    margin-left: 20px;
}

.card-button {
    background-color: #141414;
    color:#FFF0D9;
    width: max-content;
    border-radius: 12px;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
}

.card-button a{
    cursor:pointer;
    color:#FFF0D9;
    text-decoration: none;
}

.card-button a:hover{
    text-decoration: underline;
}

#cards_anchor{
    padding-top: 25px;
    padding-bottom: 20px;
    background: #FFF0D9;
}

.cards {
    margin: 0 auto;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    padding-top: 40px;
    background-color: #FFF0D9;
}

.cards * {
    box-sizing:border-box;
}


.card {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    outline: 5px solid #141414;
    border-radius: 10px;
    box-shadow: 13px 13px 10px 0px rgba(0, 0, 0, 0.3);
    width: 480px;
}

.card:hover {
    box-shadow: 15px 15px 10px 0px rgba(0, 0, 0, 0.4);
}

.card_content {
    padding: 15px;
    margin-bottom: 23px;
}

.card_gif {
    width: 480px;
    height: 270px;
}

.card_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 15px;
}


#site-info-subtitle {
    margin-top: 10px;
    margin-bottom: -20px;
    color:#FFF0D9;
}

.site-info-container {
    text-align: center;
    color:#FFF0D9;
    margin-top: 50px;
    margin-bottom: 50px;
}

.site-info-container-text {
    margin: 0px 0px 10px 0px;
}

.site-info-container a {
    color:#FFF0D9;
    cursor:pointer;
    text-decoration: underline;
    
}

#contact-anchor {
    margin-top: 50px;
}

.contact-container {
    text-align: center;
    color:#FFF0D9;
    margin-top: 50px;
    margin-bottom: 50px;
}

#contact-subtitle {
    color:#FFF0D9;
}

.contact-container-text {
    margin: 0px 0px 10px 0px;
}

.hover-underline-animation-light {
    display: inline-block;
    position: relative;
    /*added stuff by me*/
    margin: 0;
}
  
.hover-underline-animation-light:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF0D9;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation-light:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-underline-animation-dark {
    display: inline-block;
    position: relative;
    margin: 0;
}
  
.hover-underline-animation-dark:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #141414;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation-dark:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

footer {
    color: #FFF0D9;
    height:30px;
    text-align: center;
}

@media (max-height: 700px) {
    #arrow-section-container {
        display: none;
    }
}

/* things that change when on mobile phone*/
@media only screen and (max-width: 767px) {
    .nav{
        display: none;
    }

    .banner-container h1{
        font-size: 2.4em;
    }

    #quote {
        font-size: 1.2em;
    }

    .landing_list {
        width: 80%;
    }
    
    .banner-container li{
        font-size: 1.3em;
        text-align: left;
        padding-top:10px;
    }

    .landing-button-text {
        font-weight: bold;
        font-size: 1em;
    }

    #cards_anchor{
        padding-bottom: 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .cards {
        margin: 0 auto;
        max-width: 1300px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(331px, 1fr));
        grid-auto-rows: auto;
        gap: 10px;
        padding-top: 40px;
        background-color: #FFF0D9;
    }

    .card {
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.3);
        width: 331px;
    }

    .card:hover {
        box-shadow: 13px 13px 10px 0px rgba(0, 0, 0, 0.4);
    }

    .card_content {
        padding: 10px;
        margin-bottom: 19px;
    }

    .card_gif {
        width: 331px;
        height: 199px;
    }

    .card_footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8em;
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 10px;
    }
}